<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>
            <%= link_to Product.find(order.product_id).name, Product.find(order.product_id) %>
        </td>

        <td>
            <% if Product.find(order.product_id).image.attached? %>
            <div style="width:100px; height:auto">
                <%= link_to image_tag(Product.find(order.product_id).image, style:"width:100%") , Product.find(order.product_id)%>
            </div>
            <% end %>
        </td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
