<h1>Welcome to Urn Shopping!</h1>

<h3>Our shop has <%= Product.public_count %> products for sale! </h3>

<p id="notice"><%= notice %></p>

<table class="table">
    <tr>
        <th>Products</th>

        <th>Price</th>

        <th>Stock</th>
    </tr>
  <% @products.each do |product| %>
    <tr>
        <th><% unless product.archived? %>
            <%= link_to product.name, product %>
        <% end %></th>

        <th><% unless product.archived? %>
            <%= product.price %>
        <% end %></th>

        <th><% unless product.archived? %>
            <%= product.stock %>
        <% end %></th>

        <th><%= link_to "Add to cart", product %></th>
    </tr>
  <% end %>
</table>

<p> Go to 'My Products' to add your new product! </p>