<h1>Welcome to Urn Shopping!</h1>

<h3>Our shop have <%= Product.public_count %> products for sale! </h3>

<p id="notice"><%= notice %></p>

<table class="table">
    <tr>
        <th>Products</th>

        <th>Image</th>

        <th>Categories</th>

        <th>Price</th>

        <th>Stock</th>
    </tr>
  <% @products.each do |product| %>
    <tr>
        <% unless product.archived? %>
        <th>
            <%= link_to product.name, product %>
        </th>

        <th>
            <% if product.image.attached? %>
            <div style="width:100px; height:auto">
                <%= link_to image_tag(product.image, style:"width:100%") , product%>
            </div>
            <% end %>
        </th>

        <th> <%= product.categories.map(&:name).join(',') %></th>

        <th>
            <%= product.price %>
        </th>

        <th>
            <%= product.stock %>
        </th>
        <% end %>

        <th><%= link_to "Add to cart", product %></th>
    </tr>
  <% end %>
</table>

<%= link_to 'Download CSV File ', products_path(format: :csv) %>

<p> Go to 'My Products' to add your new product </p>
<p> For TA : For managing users login with ID:admin Pass:88998899</p>