<div class="container bg-light" style="margin:20px;">
    <div class="row" style="height:100px;">
        <div style="padding:20px;"><h1><%= @product.name %></h1></div>
    </div>
    <div class="row" style="height:340px">
        <div class="col" style="height:300px ">
            <div class="container">
            <% if @product.image.attached? %>
                <div style="height:300px; object-fit:contain;">
                    <%=image_tag(@product.image)%>
                </div>
            <% end %>
            </div>
        </div>
        <div class="col">
            <div class="row" style="padding:20px;"><h4>sold : <%= @product.sold %></h4></div>
            <div class="row" style="padding:20px; color:orange"><h1>price : <b><%= @product.price %></b><h1></div>
            <div class="row" style="padding:20px;">left : <%= @product.stock %></div>
            <div class="row" style="padding:20px;"> <%= button_to 'Add to Cart', line_items_path(product_id: @product), class: 'btn btn-success' %>
                                                    <%= link_to 'Buy Now', new_order_path(product_id: @product), class: 'btn btn-warning' %></div>
        </div>
    </div>
</div>

<div class="container bg-warning" style="height:80px; margin:20px;">
    <div style="padding:25px "><h4>Seller : <%= @product.owner %></h4></div>
</div>

<div class="container bg-light" style="margin:20px;">
    <div style="padding:30px "> Categories : <%= @product.categories.map(&:name).join(',') %></div>
    <div style="padding:30px "> Description : <%= @product.description %></div>
    <div style="padding:30px "> More Images :
        <% if @product.support_image.attached? %>
            <% @product.support_image.each do |support_image| %>
                <div style="width:100px; height:100px; object-fit: contain;">
                    <%= image_tag(support_image, style:"width:100%") %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>

<div class="container bg-light" style="margin:20px; padding:20px">
    <h2>Reviews</h2>
        <%= render @product.reviews %>

    <h5>Add a review:</h5>
        <%= render 'reviews/form' %>
</div>

<div class="container" style="margin:20px;">
<%= link_to "Back to Products", '/products', class:"btn btn-outline-info"%>
</div>