<h1><%= @product.name %></h1>

<div style="width:300px; height:auto">
    <%= image_tag(@product.image, style:"width:100%") %>
</div>

<p>Description : <%= @product.description %></p>

<p>price : <%= @product.price %></p>

<p>left : <%= @product.stock %></p>

<p>sold : <%= @product.sold %></p>

<p>seller : <%= @product.owner %></p>

<h2>Reviews</h2>
    <%= render @product.reviews %>

<h5>Add a review:</h5>
    <%= render 'reviews/form' %>

<%= link_to "Back to Products", '/products' %>