<h1><%= @product.name %></h1>

<% if @product.image.attached? %>
    <div style="width:300px; height:auto">
        <%= link_to image_tag(@product.image, style:"width:100%") , @product%>
    </div>
<% end %>

<p>Description : <%= @product.description %></p>

<p>Categories : <%= @product.categories.map(&:name).join(',') %></p>

<p>price : <%= @product.price %></p>

<p>left : <%= @product.stock %></p>

<p>sold : <%= @product.sold %></p>

<p>seller : <%= @product.owner %></p>

<% if @product.support_image.attached? %>
    <% @product.support_image.each do |support_image| %>
        <div style="width:100px; height:auto">
            <%= image_tag(support_image, style:"width:100%") %>
        </div>
    <% end %>
<% end %>

<h2>Reviews</h2>
    <%= render @product.reviews %>

<h5>Add a review:</h5>
    <%= render 'reviews/form' %>

<%= link_to "Back to Products", '/products' %>