<%= form_with model: [ @product, @product.reviews.build ] do |form| %>
  <p>
    <%= form.label :reviewer %><br />
    <%= form.text_field :reviewer %>
  </p>
  <p>
    <%= form.label :body %><br />
    <%= form.text_area :body %>
  </p>

  <p><%= form.submit %></p>
<% end %>
