<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Home', root_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="nav-link">
            <%= link_to "My Products", "/myproducts" %>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">My Cart <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <div class="nav-link">
            <%= link_to "Categories", "/categories" %>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <% if current_user %>
        Logged in as <%= link_to current_user.email, "/myaccount" %>.</a>
        <%= link_to "Log Out", logout_path %>
      <% else %>
        <%= link_to "Sign Up", signup_path %> or 
        <%= link_to "Log In", login_path %>
      <% end %>
    </form>
  </div>
</nav>